<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= tieuDe %>
    </h1>
    <p>Họ Tên : <%= Name %>.</p>
    <p>Tuổi : <%= Age %></p>
    <p>Chuyên ngành : <%= chuyenNganh %></p>
    <p>Sở thích :<%= interest %></p>
    <img src=<%=Image %>>

</body>

</html>