<%- include('../inc/header')  %>


   <h1>Trang xem chi tiết </h1>
   <%= msg  %>
   <% if(objSP != null){ %>


   <h2>Tên sp: <%= objSP.Date  %>   </h2>
       Giá:  <%= objSP.Email  %><br>
   <% } %>


<%- include('../inc/footer')  %>