<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../inc/header') %>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Pass</th>
                <th>Name</th>
            </tr>
            <% listSP.forEach( (row)=>{ %>
                <tr>
                    <td>
                        <%= row._id %>
                    </td>

                    <td>
                        <a href="/products/view/<%= row._id %>" target="_blank">
                            <%= row.PassWord %>
                        </a>
                    </td>
                    <td>
                        <%= row.FullName %>
                    </td>
                </tr>
                <% }) %>
        </table>


        <%- include('../inc/footer') %>
</body>

</html>